<div class="analog-clock-circle-container">
  <div class="analog-clock-circle-item" ng-repeat="(index, value) in clock.values[clock.arrow]">
    <div class="analog-clock-circle-point" ng-click="clock[clock.arrow] = index; clock.arrow = 'min'" ng-class="{'analog-clock-circle-point_active': index === clock[clock.arrow]}">
      {{value}}
    </div>
  </div>

  <div class="analog-clock-circle-center"></div>

  <div class="analog-clock-arrow-hr" ng-style="{ 'transform': 'rotate(' + (clock.hr * 30) + 'deg)', '-webkit-transform': 'rotate(' + (clock.hr * 30) + 'deg)'}">
    <div class="analog-clock-arrow-hr__face" ng-class="{'analog-clock-arrow-hr_active': 'hr' === clock.arrow}"></div>
  </div>
  <div class="analog-clock-arrow-min" ng-style="{ 'transform': 'rotate(' + (clock.min * 30) + 'deg)', '-webkit-transform': 'rotate(' + (clock.min * 30) + 'deg)'}">
    <div class="analog-clock-arrow-min__face" ng-class="{'analog-clock-arrow-min_active': 'min' === clock.arrow}"></div>
  </div>

  <div class="analog-clock-am" ng-click="clock.meridiem = 'am'" ng-class="{'analog-clock-am_active': 'am' === clock.meridiem}">AM</div>
  <div class="analog-clock-pm" ng-click="clock.meridiem = 'pm'" ng-class="{'analog-clock-pm_active': 'pm' === clock.meridiem}">PM</div>

  <div class="analog-clock-hr" ng-click="clock.arrow = 'hr'" ng-class="{'analog-clock-hr_active': 'hr' === clock.arrow}">Hr</div>
  <div class="analog-clock-min" ng-click="clock.arrow = 'min'" ng-class="{'analog-clock-min_active': 'min' === clock.arrow}">Min</div>
</div>
